html {
  --my-primary: #86af49;
  --my-secondary: rgb(117, 153, 64);
}

main {
  box-shadow: 0px 20px 20px 11px #f1f1f1;
}

a {
  color: var(--my-primary);
  text-decoration: none;
}
a:hover {
  color: var(--my-secondary);
  text-decoration: underline;
}

strong {
  color: var(--my-primary);
  font-weight: 500;
}

#profile {
  background-color: var(--bs-gray-100);
}

#profile-img {
  width: 95%;
  max-width: 300px;
}

#objectives-list {
  list-style-type: none;
  margin-top: -1em;
  line-height: 2.5em;
}

#objectives-list li::before {
  content: "\25E6";
  color: var(--bs-gray-500);
  font-weight: bold;
  display: inline-block;
  width: 0.5em;
  margin-left: -0.5em;
  font-size: 2em;
  vertical-align: sub;
}

.social-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.project-card-img {
  overflow: hidden;
  vertical-align: middle;
  border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.project-img-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.308);
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img-overlay:hover {
  opacity: 100%;
}

/* Bootstrap overrides */
.btn-primary {
  background-color: var(--my-primary) !important;
  border: none;
}

.border-primary {
  border-color: var(--my-primary) !important;
}

/* responsiveness */
@media (max-width: 768px) {
  .project-card-img {
    border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
    min-height: 180px;
  }
}